@media (max-width: 1450px) {
    .contact-1 {
        width: 45%;
        /* background-color: #e29d06; */
        text-align: center;
        margin: 4rem auto;
    }
}

@media (max-width: 1240px) {
    .pro-1 p {
        font-size: 1.7rem;
    }

    .home-right {
        width: 50%;
    }

    .home-left {
        width: 50%;
    }

    .home-right img {
        width: 90%;
    }

    .edu-2 .date {
        font-size: 1.3rem;

    }

    .edu-2 .position {
        font-size: 1.3rem;
        margin: 2rem 0;
    }

    .edu-2 .college {
        margin: 1.4rem 0;
        font-size: 1rem;
    }

    .edu-2 p {
        margin: 1.8rem 0;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: rgb(173, 170, 170);
    }

}


@media (max-width: 1024px) {

    .menu-toggle {
        display: block;
        /* show on mobile */
    }

    .navbar {
        overflow: visible !important;
    }

    .navbar-ul {
        display: none;
        flex-direction: column;
        background-color: #111;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        gap: 0;
        text-align: center;
        z-index: 9999;
    }

    .navbar-ul.active {
        display: flex !important;


        overflow-x: visible !important;
        overflow-y: visible !important;
        /* allow dropdowns */
    }

    .navbar-ul li {
        margin: 5px 0;
        width: 100%;
        align-items: center;
        /* each item spans full width */
    }

    .navbar-ul li a {
        display: block;
        width: 100%;
        /* padding: 1rem 0; */
        font-size: 1.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        /* optional divider */
    }



    .home-left {
        padding-left: 0rem;
    }

    .name {
        padding-left: 60px;
        padding-top: 40px;
    }

    .name .home-span1 {
        font-size: 1.2rem;
    }

    .name h1 {
        font-size: 3.2rem;
    }

    .name #typing-animation {
        font-size: 1.5rem;
        font-weight: 900;
    }

    .name .para1 {
        font-size: 1.4rem;
        /* padding-top: 3rem; */
    }

    .btn {
        padding: 1rem 1.5rem;
    }

    .exp-1 {
        width: 100%;
        border-radius: 25px;
    }

    .exp-2 {
        width: 80%;
        margin: 3rem auto;
    }

    .exp-2 .date {
        font-size: 1.5rem;
    }

    .exp-2 .position {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }

    .exp-2 p {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }

    .exp-2 ul {
        width: 80%;
        margin: 1.3rem auto;
        font-size: 0.9rem;

    }

    .exp-2 ul li {
        margin-bottom: 0.9rem;
    }

    .edu-1 {
        width: 100%;
    }

    .edu-2 {
        width: 80%;
        margin: 3rem auto;
    }

    .pro-1 {
        width: 45%;
    }

    .home-right img {
        width: 100%;
        margin-right: 2rem;
        margin-top: 3rem;
    }

    .more-main h1 {
        font-size: 2rem;
    }

    .more-main h3 {
        font-size: 1.7rem;
    }

    .about-us .para-2 {
        width: 90%;
        margin: 2rem auto;
        font-size: 1.3rem;
    }

    .about-info2 {
        gap: 0.5rem;
        width: 90%;
        margin: 0.5rem auto;
    }

    .about-info2 li {
        display: contents;
        /* let spans take grid spots */
        font-size: 1.2rem;
        margin: 0.7rem 8rem;
        /* justify-content: space-between; */
    }

    .about-info2 li span:first-child {
        font-weight: bold;
        text-align: left;
        width: 200px;
    }

    .about-info2 li span:last-child {
        text-align: left;
        width: 80%;
    }
}

@media (max-width: 786px) {
    .home-right {
        display: none;
    }

    .home-left {
        width: 100%;
        background-image: url("ajay.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: rgba(0, 0, 0, 0.7);
        /* black with 40% opacity */
        background-blend-mode: darken;
        margin: 0%;
    }

    .navbar {
        padding: 15px 20px;
        /* smaller padding */
    }

    .name {
        padding-left: 0;
        /* remove large padding */
        text-align: center;
    }

    .navbar-ul li {
        margin: 15px 20px;
        /* avoid pushing too wide */
    }

    .more-main h3 {
        font-size: 1.3rem;
    }

    .About {
        width: 100%;
        margin: 3rem auto;
    }

    .about-us .para-2 {
        width: 95%;
        font-size: 1rem;
    }

    .about-info2 {
        gap: 0;
        width: 100%;
        margin: 0.4rem auto;
    }

    .about-info2 li {
        font-size: 1rem;
        margin: 0.3rem 3REM;
    }

    .about-info2 li span:first-child {
        width: 150px;
    }

    .about-info2 li span:last-child {
        width: 100%;
    }

}

@media (max-width:731px) {
    .channels span {
        font-size: 1rem;
        margin: 0 0.5rem;
    }

    .channels .contact-icon {
        width: 20px;
        height: 20px;
        margin: 0 0.5rem;
        padding: 1rem;
    }

    .Contact {
        margin: 3rem auto;
    }

    .contact-1 .icon {
        width: 40px;
        height: 40px;
        align-items: center;
        margin: 0rem auto;
        color: #e29d06;
    }

    .con-back {
        width: 70px;
        height: 70px;
        background-color: rgba(196, 197, 198, 0.136);
        border-radius: 50%;
        margin: 1rem auto;
        align-items: center;
        display: flex;
    }

    .contact-1 h3 {
        font-size: 1rem;
        margin: 2rem auto;
    }

    .contact-1 p {
        font-size: 0.7rem;
        color: rgba(221, 221, 221, 0.479);
    }

}

@media (max-width:590px) {

    .pro-1 {
        width: 90%;
    }

    .education {
        width: 95%;
    }

    .Contact {
        width: 95%;
    }

    .Experience {
        width: 95%;
        margin: 3rem auto;
    }

    .Experience #exp-title {
        text-align: center;
        font-size: 3rem;
    }

    .exp-2 {
        width: 95%;
        margin: 2rem auto;
    }

    .about-us .para-2 {
        width: 95%;
        font-size: 0.8rem;
    }

    .about-info2 {
        gap: 0;
        width: 100%;
        margin: 0.4rem auto;
    }

    .about-info2 li {
        font-size: 0.7rem;
        margin: 0.3rem 1REM;


    }

    .about-info2 li span:first-child {
        width: 120px;
    }

    .about-info2 li span:last-child {

        width: 100%;
    }
}

@media (max-width:426px) {
    .brand-name h1 {

        font-size: 1.5rem;
    }

    .contact-1 {
        width: 90%;
        /* background-color: #e29d06; */
        text-align: center;
        margin: 1rem auto;
    }

    .channels span {
        font-size: 0.8rem;
        margin: 0 0.5rem;

    }

    .channels .contact-icon {
        width: 20px;
        height: 20px;
        margin: 5px;
        padding: 0.5rem;

    }

    .pro-1 p {
        font-size: 1rem;
        text-align: center;
        text-align: center;
        padding: 0.5rem 0;
    }

    .footer {

        padding: 4rem;
        font-size: 0.7rem;
    }

    .edu-1 {

        margin: 0;
    }

    .edu-2 {

        margin: 1.5rem auto;
    }

    .edu-2 .date {
        font-size: 1rem;
    }

    .edu-2 .position {
        font-size: 1rem;
        margin: 1.5rem 0;
    }

    .edu-2 .college {
        margin: 1rem 0;
        font-size: 0.8rem;
    }

    .edu-2 p {
        margin: 1.2rem 0;
        margin-bottom: 1rem;
        font-size: 1rem;
        color: rgb(173, 170, 170);
    }

    #edu-title {
        font-size: 3rem;
    }

    .exp-2 .date {
        font-size: 1rem;
    }

    .exp-2 .position {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .exp-2 p {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }

    .exp-2 ul {
        width: 90%;
        margin: 1rem auto;
        font-size: 0.7rem;
    }

    .exp-2 ul li {
        margin-bottom: 0.9rem;

    }

    .about-us h1 {
        text-align: center;
        font-size: 3rem;
    }

    .about-info2 li {
        font-size: 0.5rem;
        margin: 0.3rem 0.5REM;
    }

    .home-left {
        padding-left: 0rem;
    }

    .name .home-span1 {
        color: #e29d06;
        font-size: 1.1rem;

    }

    .name h1 {
        font-size: 3rem;
        margin: 1rem 0px;
    }

    .name #typing-animation {
        font-size: 1.5rem;

    }

    .name .para1 {
        font-size: 1.4rem;
        padding-top: 1rem;
    }

    .footer {
        padding: 2rem;
    }

}