* {
  margin: 0;
  padding: 0;
  /* max-width: 100%; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* overflow-x: hidden; */

}

a {
  text-decoration: none;
  color: white;
  /* or your theme color */
  display: inline-block;
  /* normal behavior */
  appearance: none;
  /* remove input-like rendering */
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(223, 217, 217);
  overflow-x: hidden;
}

.menu-toggle {
  display: none;
  /* hide on desktop */
  font-size: 1.8rem;
  /* size of the hamburger */
  color: white;
  /* icon color */
  cursor: pointer;
  /* pointer cursor */
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* left + right */
  align-items: center;
  /* padding: 25px 10px; */
  position: relative;
  top: 0;

  background-color: rgba(0, 0, 0, 0.873);
  /* dark background */
  z-index: 1000;
  padding: 1.2rem 3rem;

      overflow: visible !important;
    

}

.brand-name h1 {
  font-weight: 900;
  font-size: 2rem;
}

.brand-name a {
  text-decoration: none;
  color: white;

}

.navbar-ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.navbar-ul li {
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-ul li:hover {
  transform: scale(1.2);
}

.navbar-ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  display: inline-block;


}

.navbar-ul li a:hover {
  border-bottom: 3px solid rgb(252, 252, 252);
  padding-bottom: 10px;
  padding-top: 7px;
  /* border-radius: 70%; */
  /* border-top: 3px solid rgb(255, 255, 255); */

}




/* Show only on small screens */


.Home {
  width: 100%;
  display: flex;
  margin-top: 7rem;
  /* margin: 3rem auto; */

}

.home-left {
  width: 40%;
  margin: 1rem auto;
  padding-left: 5rem;
}

.name {
  text-align: start;
  /* padding-left: 150px; */
  padding-top: 40px;

}

.name .home-span1 {
  color: #e29d06;
  font-size: 1.5rem;

}

.name h1 {
  font-size: 4rem;
  margin: 2rem 0px;
}

.name .home-span2 {
  color: #e29d06;
}

.name #typing-animation {
  font-size: 2rem;
  font-weight: 900;
}

.name .para1 {
  font-size: 1.9rem;
  padding-top: 3rem;
}

#typing-animation {
  letter-spacing: 3px;
  word-spacing: 10px;
  /* height: 37.6px; */
}

.home-right {
  width: 60%;
  text-align: center;

}

.home-right img {
  width: 60%;
  /* margin: auto  ; */
  padding: auto 3rem;
  text-align: center;
  align-items: center;

}


.btn {
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: bold;
}

.btn-1 {
  margin-top: 2rem;
  color: black;
  background-color: rgb(255, 182, 12);
}

.btn-1 a {
  text-decoration: none;
  color: black;
  ;
}

.btn-2 {
  margin-top: 2rem;
  margin-left: 10px;
  color: white;
  background-color: black;
  border: 0.5px solid rgb(222, 220, 220);

}

.btn-2 a {
  text-decoration: none;
  color: white;
  ;
}

.About {
  width: 90%;
  margin: 6rem auto;
}

.about-us {
  padding: 0 1.5rem;
}

.about-us h1 {
  text-align: center;
  font-size: 4rem;
}


#hr-1 {
  width: 90%;
  height: 5px;
  /* thickness */
  margin: 1rem auto;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, red, orange, yellow);
}

.about-us .para-2 {
  width: 82%;
  margin: 2rem auto;
  font-size: 1.5rem;
  text-align: justify;
  color: rgb(222, 220, 220);

}

.about-info {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 1rem auto;


}

.about-info p {
  font-size: 1.5rem;
  margin: 1rem 0;

}

.about-topic {
  width: 30%;

}

.about-topic p {
  color: white;
  font-weight: bold;
  /* font-size: 1rem; */
}

.about-content {
  width: 70%;
  margin-left: 1rem;
}

.about-content p {
  color: rgb(222, 220, 220);
}

.Experience {
  width: 80%;
  margin: 6rem auto;
}

.Experience #exp-title {
  text-align: center;
  font-size: 4rem;
}

#hr-2 {
  width: 100%;
  height: 5px;
  /* thickness */
  margin: 1rem auto;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, red, orange, yellow);
}

/* kljdaifojhhhhhhhhhhhhhhhhh */

.exp-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.exp-1 {
  width: 45%;
  height: auto;
  background-color: rgba(55, 55, 55, 0.467);
  margin: 2%;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px 20px rgba(156, 152, 152, 0.373) !important;


}

.exp-2 {
  width: 90%;
  margin: 2rem auto;
}

.exp-2 .date {
  font-size: 2rem;
  font-weight: bolder;
  /* margin: 1rem 0; */
  color: #e29d06;
}

.exp-2 .position {
  font-size: 2rem;
  font-weight: 500;
  margin: 0.7rem 0;
}

.exp-2 .company {
  margin: 0.5rem 0;

  color: rgb(173, 170, 170);
}

.exp-2 p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: rgb(173, 170, 170);
}

.exp-2 ul {
  width: 80%;
  margin: 2rem auto;
  font-size: 1.1rem;
  color: rgb(173, 170, 170);
}

.exp-2 ul li {
  margin-bottom: 1rem;
  color: rgb(173, 170, 170);
}

.education {
  width: 80%;
  margin: 4rem auto;
}

#edu-title {
  text-align: center;
  font-size: 4rem;
}

#hr-3 {
  width: 100%;
  height: 5px;
  /* thickness */
  margin: 1rem auto;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, red, orange, yellow);
}

.edu-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.edu-1 {
  width: 45%;
  background-color: rgba(55, 55, 55, 0.467);
  margin: 2%;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(156, 152, 152, 0.373) !important;
}

.edu-2 {
  width: 90%;
  margin: 2rem auto;
}

.edu-2 .date {
  font-size: 1.7rem;
  font-weight: bolder;
  /* margin: 1rem 0; */
  color: #e29d06;
}

.edu-2 .position {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 2rem 0;
}

.edu-2 .college {
  margin: 1.8rem 0;
  font-size: 1.2rem;
  color: rgb(173, 170, 170);
}

.edu-2 p {
  margin: 2.2rem 0;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: rgb(173, 170, 170);
}

.btn-cv {
  background-color: #e29d06;
  margin: 1rem auto;
  width: fit-content;

}

.btn-cv a {
  text-decoration: none;
  color: #111;
  padding: 0 1rem;
  font-size: 1.1rem;
}

.Project {
  width: 80%;
  margin: 4rem auto;
}

.project-title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.project-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  justify-content: space-evenly;
  /* background-color: red; */

  width: 100%;
}

.pro-1 {
  width: 30%;
  border-radius: 20px;
  margin-top: 2rem;
  background-color: #e29d06;
  margin: 2rem 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.pro-1:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.pro-1 img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  /* margin-bottom:2rem; */
  text-align: center;
  width: 100%;

}

.pro-1 p {
  font-size: 2rem;
  text-align: center;
  text-align: center;
  padding: 1rem 0;
}


.more-pro {
  text-align: center;
  padding: 3rem 0;
  /* space for the content */
  background-image: url("https://tse3.mm.bing.net/th/id/OIP.OGpZGEMVCq4G01aHyVCVXQHaEK?rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border-radius: 12px; */
  position: relative;
  overflow: hidden;
  color: rgb(225, 229, 233);
}

.more-main {
  text-align: center;
  margin: 5rem auto;
}

.more-main h1 {
  font-size: 2.9rem;
  margin: 2rem 0;
}

.more-main h1 span {
  color: #e29d06;
}

.more-main h3 {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 400;


}

.Contact {
  width: 80%;
  margin: 2rem auto;
}

.contact-title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.contact-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin: 2rem auto;
  text-align: center;
}

.contact-1 {
  width: 23%;
  /* background-color: #e29d06; */
  text-align: center;
  align-items: center;

}

.contact-1 .icon {
  width: 70px;
  height: 70px;
  align-items: center;
  margin: 0rem auto;
  color: #e29d06;

}

.con-back {
  width: 120px;
  height: 120px;
  background-color: rgba(196, 197, 198, 0.136);
  border-radius: 50%;
  margin: 1rem auto;
  align-items: center;
  display: flex;
}

.contact-1 h3 {
  font-size: 1.5rem;
  margin: 2rem auto;
}

.contact-1 p {
  font-size: 1.3rem;
  color: rgba(221, 221, 221, 0.479);

}

.channels {
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channels span {
  font-size: 2rem;
  margin: 0 1rem;

}

.channels .contact-icon {
  width: 30px;
  height: 30px;
  margin: 0 1rem;
  background-color: rgba(196, 197, 198, 0.136);
  padding: 1rem;
  border-radius: 50%;
  color: #e29d06;
}

.footer {
  text-align: center;
  color: rgb(181, 182, 184);
  padding: 2rem;
  font-size: 1.3rem;
}